* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
/* .progress {
    position: relative;
    width: 100%;
    background: chartreuse;
    height: 20px;
    border-radius: 50px;
}

.bar {
    position: absolute;
    width: 70%;
    background: chocolate;
    height: 20px;
    border-radius: 50px;
}
.bars {
    position: absolute;
    width: 70%;
    background: chocolate;
    height: 20px;
    border-radius: 50px;
}
.progress1 {
    position: relative;
    width: 100%;
    background: chartreuse;
    height: 20px;
    border-radius: 50px;
    margin-top: 25%;
} */